:root {
    --cWidth: 85%;
    --textcolor: #7e7a7a;
    font-size: 16px;

}

body { background: #dbecec;}

.frames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .frame {
    position: relative;
    width: 25rem;
    box-sizing: border-box;
    height: 27rem;
    background: #fff;
    margin: 4rem auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: var(--textcolor);

    -webkit-box-shadow: 0px 0px 15px -1px #444444;
    -moz-box-shadow: 0px 0px 15px -1px #444444;
     box-shadow: 0px 0px 15px -1px #444444;
  }

 input:focus {
    outline: none;
 }

  /*
    First calculator interface
  */

  .calc1 {
    font-family: 'Work Sans', sans-serif;
  }

  .calc1 > .display {
      position: relative;
      top: 2.5rem;
      width: var(--cWidth);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  .display > input {
      text-align: right;
      border: 0px;
      font-weight: 200;
      font-size: 20px;
  }

  .display > .answer {
    font-size: 2rem;
    margin-top: 10px;  
  }

  .calc1 .calc-keys {
      position: relative;
      top: 2rem;
      width: var(--cWidth);
      display: grid;
      grid-row-gap: 20px;
      grid-template-columns: repeat(4,40px);
      grid-template-rows: repeat(5, 40px);
      grid-template-areas: 
                "a pm p d"
                "se e n x"
                "f fi s m"
                "o t th pl"
                "z do q q";

      justify-content: space-between;
      font-size: 20px;
  }

  .calc1 button {
    border-radius: 50%;
    border: 0px;
    outline: none;
    cursor: pointer;
    background-color: #f5f5f5;
    color: var(--textcolor);
    font-weight: 300;
}

  .calc1 .dot {
      grid-area: do;
  }

  .calc1 .equals {
      grid-area: q;
      color: #fff;
      background: #ffc400b3;
      border-radius: 10px;
      -webkit-text-stroke: 2px #ffc400b3;
  }


  .calc1 .divide, .calc1 .times, .calc1 .minus, .calc1 .plus {
      background-color: #f5f5f5;
      -webkit-text-stroke: 2px #f5f5f5;
  }

  .calc1 .divide:hover, .calc1 .times:hover, .calc1 .minus:hover, .calc1 .plus:hover {
    background-color: #f5f5f5;
    -webkit-text-stroke: 2px #c7b6b6;
}

  .calc1 .operators:hover {
    background-color: #c7b6b6;
    color: #fff;
  }

  .calc1 .operands {
      background: #fff;
  }

  .calc1 .operands:hover {
      border: 1px solid pink;
  }
  
  .calc1 .plus-or-minus {
      text-decoration: underline;
      text-decoration-color: var(--textcolor);
  }

  .calc1 .plus-or-minus:hover {
    text-decoration-color: #fff;
}
/*
  Second calculator Interface
*/

.calc2 {
    border-radius: 5px;
    font-family: 'Catamaran', sans-serif;
    font-size: 10px;
    font-weight: 300;
}

.calc2 .color-balls {
    width: 96%;
    height: 1rem;
    display: flex;
    align-items: center;
}

.color-balls > div {
    width: 2.3rem;
    display: flex;
    justify-content: space-between;
}

.color-balls .red{
    color: red;
}

.color-balls .gold{
    color: gold;
}

.color-balls .green{
    color: #05df05;
}

.calc2 .display {
    width: 85%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 20px;
}

.calc2 .answer {
    margin-bottom: 5px;
    padding-right: 0px;
    color: #504c4c;
    font-size: 2rem;
}

.calc2 input {
    letter-spacing: 1px;
}

.calc2 .calc-keys {
    position: relative;
    top: 1rem;
    width: var(--cWidth);
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4,40px);
    grid-template-rows: repeat(5, 40px);
    grid-template-areas: 
    "a pm p d"
    "se e n x"
    "f fi s m"
    "o t th pl"
    ". z c eq";

    justify-content: space-between;
    font-size: 20px;
}

.calc2 button {
    color: #504c4c;
    border: 0px;
    background-color: unset;
    outline: none;
    cursor: pointer;
}

.calc2 .divide, .calc2 .times, .calc2 .minus, .calc2 .plus, .calc2 .equals {
    -webkit-text-stroke: 1px #fff;
}

.calc2 button:hover {
    border: 1px solid rgb(0, 255, 0);
    border-radius: 50%;
}

.calc2 .equals {
    grid-area: eq;
}

.calc2 .comma {
    grid-area: c;
}

.calc2 .zero {
    grid-area: z;
}

.calc2 .blue {
    color: #1a8df8;
}

.calc2 .equals:hover {
    border: 1px solid gold;
}

.calc2 .clear:hover {
    border: 1px solid red;
}


/*
THIRD CALCULATOR

*/

.calc3 {
    font-family: 'Catamaran', sans-serif;
}

.calc3 .color-balls {
    width: 96%;
    height: 1.4rem;
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    color: #bdb8b8;
}


.calc3 .color-balls div {
    padding-left: 5px;
    width: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.calc3 .display {
   width: 85%;
   margin-top: 0px;
   margin-bottom: 0px;
   display: flex;
   flex-direction: column;
   text-align: right; 
}

.calc3 .answer {
    color: #272727;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.calc3 .calc-keys {
    position: relative;
    top: 1rem;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 65px);
    grid-template-areas: 
    "a pm p d"
    "se e n x"
    "f fi s m"
    "o t th pl"
    "z z c eq";

    font-size: 24px;
    margin-top: 8px;
}

.calc3 button {
    border: 0.1px solid #d5c7db;
    background-color: #f2e3f8;
    outline: none;
    cursor: pointer;
}

.calc3 .equals {
    grid-area: eq;
}

.calc3 .comma {
    grid-area: c;
}

.calc3 .zero {
    grid-area: z;
    text-align: left;
    padding-left: 24px;
}

.calc3 .purple {
    background: rgba(234, 161, 248, 0.6);

}

.calc3 .purple:hover {
    background: rgba(203, 39, 236, 0.6);

}

.calc3 .operands:hover {
    background: #fff;
}



.calc3 .divide {
    background: #f8de48;
    color: #fff;
    -webkit-text-stroke: 2px #f8de48;
}

.calc3 .times {
    background: linear-gradient(to top,#f8cf48 , 10%,#f9dc5b);
    color: #fff;
    -webkit-text-stroke: 2px #f9dc5b;
}

.calc3 .minus {
    background: radial-gradient( #ffc456, 80%,#f8cf48);
    color: #fff;
    -webkit-text-stroke: 2px #ffc456;
}

.calc3 .plus {
    background: linear-gradient(to top, #f5ac25, 90%,#f8cf48);
    color: #fff;
    -webkit-text-stroke: 2px #f5ac25;
}

.calc3 .equals {
    background: #fc931c;
    color: #fff;
    
}

